.container img {
    display: block;
    width: auto;
    height: 100%;
}

.container ul li {
    display: block;
    width: 10em;
    height: 25em;
    overflow: hidden;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.2);
    transition: width 1s ease-in-out;
}

.container li:hover {
    width: 35em;
}
