body {
    background-color: #e4e978;
}

h1 {
    font-size: 1.8em;
}

article {
    width: 700px;
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
}

section article {
    color: #5c6e91;
    font-style: italic;
}

.heading {
    font-size: 1.8em;
    font-weight: bold;
}