body {
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

header,
main,
aside,
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5em 0.2em #ccc;
}

header,
footer {
    flex-basis: 100%;
}

main,
aside {
    padding-bottom: 20em;
}

header {
    padding-bottom: 5rem;
}

main {
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}
